/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 20px; /* Adjust logo size */
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin: 0 1rem;
    text-align: center;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #0073e6;
    color: #fff;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        padding-top: 1rem;
    }

    header nav ul li {
        margin: 0.5rem 0;
        width: 100%;
    }

    header nav ul li a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
    }

    header .logo img {
        height: 30px;
    }
}
